/* ---- reset 
BODY
---- */
body{
    margin:0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/*
    css général
*/
.div-border{
    width: 156px;
    position: relative;
    top: -35px;
}
/*
cursor curseur pointer pointor
*/

/* html {
    cursor: none;
  }
  
  #circularcursor {
    background-color: transparent;
    border:1px solid black;    
    height:20px;
    width:20px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    position: absolute;
    z-index: 100000;
  } */


/*css header*/

.partie-header{
    color: #B4B4B4;
    background-color: #333333;
}
.partie-header{
    transition: 0.5s;
    position: sticky;
    top: -1px;
    z-index: 160;
}

.partie-header, .div-navbar{
    display: flex;
}
.div-navbar-responsive{
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333333;
    color: #B4B4B4;
    position: relative;
    
}
/*
hover navbar
*/
.div-navbar-responsive a, .div-navbar a{
    padding: 10px 15px;
    display: inline-block;
    position: relative;
}
.div-navbar-responsive a:hover, .div-navbar a:hover{
    transition: 0.3s;
}
.div-navbar-responsive a:after, .div-navbar a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height:2px;
    bottom: 0;
    left: 0;
    background-color: #B4B4B4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.div-navbar-responsive a:hover:after, .div-navbar a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.div-logo{
    
    position: relative;
    left: 25px;
}
.div-logo p{
    position: relative;
    left: 50px;
    font-size: 35px;
    text-transform: uppercase;
}
.div-navbar{
    align-items: center;
    justify-content: end;
    font-size: 18px;
    font-size: 25px;
    flex: 1;
    gap: 15px;
   
}
.navbar-toggle{
    background: none;
    border: none;
    cursor: pointer;
}
.navbar-collapse{
    text-align: center;
}

.btn-header{
    text-align: center;
}
.div-navbar a, .div-navbar-responsive a{
    text-decoration: none;
}
.div-navbar a{
    padding-top: 45px;
    padding-bottom: 45px;
}
.btn-header p{
    position: relative;
}
.btn-contact{
    margin-right: 5px;
}
.img-navbar{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    position: relative;
    top: 7px;
} 
/*
partie salutation
*/

.salutation-text{
    position: relative;
    z-index: 1;
}
.partie-salutation p{
    margin: 0;
    font-size: 40px;
    color: #B4B4B4;
    transition: 0.5s;
}

.salutation-text{
    padding-top: 50px;
}
.partie-salutation{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
}
.salutation-btn{
    border: 3px solid #B4B4B4;
    width: 50px;
    height: 75px;
    margin-top: 40px;
    border-radius: 31px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    z-index: 149;
}
.salutation-btn div:first-child{
    width: 9px;
    height: 7px;
    background-image: linear-gradient( red , red);
    position: relative;
    z-index: 150;
    animation: myfirst 2s infinite alternate;
    border-radius:50%;
    border:0px solid;
    box-shadow: 0 0 4px red;
}   
@keyframes myfirst {
    0%  {top:10px;}
    100% {top:62px;}
  }

/*
partie présentation
*/
.partie-presentation{
    background-color: #292929;
    padding-top: 165px;
    padding-bottom: 90px;
}
.span-date{
    color: red;
}
.img-fond-salutation{
    height: 50%;
    width: 50%;
}
.presentation-titre{
    font-size: 50px;
    text-align: center;
    color: #F49F0A;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div-border-presentation{
    border: 1px solid #F49F0A;
    background-color: #F49F0A;
}
.presentation-profil{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.presentation-div-text{
    width: 49%;
    font-size: 20px;
    color: #B4B4B4
}
.presentation-div-text p{
    margin-bottom: 40px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 30px;
}
.presentation-div-text a{
    text-decoration: none;
}
.presentation-div-img img{
    width: 175px;
    border-radius: 5px;
}

.presentation-div-btn-all{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
}
.presentation-div-btn-haut div, .presentation-div-btn-bas div{
    border: 1px solid #292929;
    padding: 15px 25px;
    border-radius: 30px;
}
.presentation-div-btn-haut .btn-cv, .presentation-div-btn-bas .btn-linkedin{
    margin-bottom: 25px;
}
.presentation-div-btn-haut div:hover, .presentation-div-btn-bas div:hover{
    color: #333;
    background-color: #B4B4B4;
    transition: 0.3s;
}
/*
partie compétences
*/
.partie-competences{
    background-color: #A99985;
    padding-top: 165px;
    padding-bottom: 90px;
}
.competences-titre{
    color: #292929;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.competences-titre-text{
    margin-top: 0;
}
.div-border-competences{
    border: 1px solid #292929;
    background-color: #292929;
}
.competences-all-block{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    align-items: center;
}
.competences-all-block img{
    width: 75px;
}
.competences-block-g, .competences-block-d{
    width: 35%;
}
.navbar-competences{
    margin-bottom: 30px;
}
/*
partie parcours
*/
.partie-parcours{
    background-color: #292929;
    padding-top: 165px;
    padding-bottom: 90px;
}
.parcours-titre{
    color: #B4B4B4;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parcours-titre-text{
    margin-top: 0;
}
.div-border-parcours{
    border: 1px solid #B4B4B4;
    background-color: #B4B4B4;
}
ul{
    list-style-type: none;
}
.timeline{
    padding: 30px 10px;
    position: relative;
}
.timeline:before{
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 5px;
    background: #333;
    left: 50%;
    margin-left: -2.5px;
}
.timeline > li{
    margin-bottom: 20px;
    position: relative;
}
.timeline > li:after{
    clear: both;
}
.timeline > li:before, .timeline > li:after{
    content: " ";
    display: table;
}
.timeline li .timeline-badge{
    color: #3c3939;
    width: 50px;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    position: absolute;
    /* top: 16px; */
    left: 50%;
    margin-left: -25px;
    background: #ddd;
    border-radius: 50%;
    transition: 0.5s;
}
.timeline-panel-container{
    width: 50%;
    float: left;
}
.timeline-panel-container-inverted{
    width: 50%;
    float: right;
}
.timeline-panel{
    width: 90%;
    float: right;
    margin-right: 40px;
    border: 1px solid #d4d4d4;
    border-radius: 7px;
    padding: 20px 25px;
    position: relative;
    box-shadow: 0 1px 6px rgba(0,0,0,0.175);
    background: white;
    transition: 0.5s;
}
.timeline-panel-container-inverted .timeline-panel{
    float: left;
    margin-left: 40px;
    transition: 0.5s;
    
}
.timeline-panel:after{
    position: absolute;
    top: 10px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}
.timeline-panel-container-inverted .timeline-panel:after{
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}
.timeline-heading h3{
    margin-top: 5px;
    font-size: 20px;
    font-weight: 600;
}
.timeline-heading h4{
    color: #3c3939;
}
.timeline div{
    text-align: center;
}
.timeline img{
    width: 25px;
}
/*
    partie experience expérience professionnel
*/
.partie-experience, .partie-contact{
    background-color: #A99985;
    padding-top: 165px;
    padding-bottom: 90px;
}

.experience-titre, .contact-titre{
    color: #292929;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experience-titre-text, .contact-titre-text{
    margin-top: 0;
}
.div-border-experience, .div-border-contact{
    border: 1px solid #292929;
    background-color: #292929;
}
.experience-block{
    display: flex;
    justify-content: space-evenly;
}
.experience-block img{
    width: 50px;
    border-radius: 50%;
}
.experience-block-g, .experience-block-d{
    border: 1px solid black;
    text-align: center;
    width: 30%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.experience-date{
    font-size: 22px;
}

/*
portfolio
*/
.partie-portfolio{
    background-color: #292929;
    padding-top: 165px;
    padding-bottom: 90px;
    color: #B4B4B4;
}
.partie-portfolio a{
    text-decoration: none;
}
.portfolio-titre{
    color: #B4B4B4;
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio-titre-text{
    margin-top: 0px;
}
.div-border-portfolio{
    border: 1px solid #B4B4B4;
    background-color: #B4B4B4;
}
.portfolio-block-haut, .portfolio-block-bas{
    display: flex;
    justify-content: space-evenly;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    transition: 0.3s;
}
.portfolio-block-haut p, .portfolio-block-bas p{
    text-align: center;
    margin-top: 0;
    background-color: white;
    border-radius: 0 0 5px 5px;
    color: #292929;
    padding-bottom: 5px;
    
}
.portfolio-block-haut img, .portfolio-block-bas img{
    width: 540px;
    height: 360px;
    border-radius: 5px 5px 0 0;
    transition: 0.5s;
    border: 5px solid white;
   
}
.portfolio-block-bas{
    margin-bottom: 15px;
}
.portfolio-block-btn{
    display: flex;
    justify-content: center;
    text-decoration: none;
    transition: 0.3s;
}
.portfolio-btn{
    background-color: #A99985;
    color: #292929;
    padding: 0 30px 0 30px ;
    border-radius: 30px;
    transition: 0.3s;
}
.portfolio-btn:hover{
    background-color: #B4B4B4;
    transition: 0.3s;
    color: black;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
/*animation hover portfolio*/
.portfolio-block-haut-g img:hover, .portfolio-block-bas-d img:hover{
    -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transform: rotate(-5deg);

}
.portfolio-block-haut-d img:hover, .portfolio-block-bas-g img:hover{
    -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transform: rotate(5deg);

}

.portfolio-block-haut{
    margin-bottom: 50px;
}
.div-up a{
    text-decoration: none;
}
.div-up{
    text-align: center;
    background-color: #A99985;
    padding-bottom: 20px;
    transition: 0.3s;
}

.material-icons{
    color: #292929;
}


/*footer*/

.footer img{
    width: 25px;
}
.footer{
    background-color: #333333;
    color: #B4B4B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}
.footer-block-contact{
    word-spacing: 10px;
}



@-webkit-keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  
  @keyframes hvr-pop {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  
  
  .footer-block-contact img:hover, .footer-block-contact img:focus, .footer-block-contact img:active, .div-up span:hover {
    -webkit-animation-name: hvr-pop;
    animation-name: hvr-pop;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }




/**/
canvas{ 
     vertical-align: bottom;
}

/* ---- particles.js container ---- */ 
#particles-js{  
    width: 100%; 
    height: 450px; 
    background-color: #56534f; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: 50% 50%; 
    overflow: hidden;
    transition: 0.5s;
} 
.particles-js-canvas-el{
    position: relative;
    top: -356px;
}

/* media queries responsive*/


@media screen and (max-height:555px) {
    .div-navbar-responsive{
        gap: 6px;
        font-size: 18px;
    }
}
@media screen and (max-height:315px) {
    .div-navbar-responsive{
        gap: 1px;
        font-size: 16px;
        top: -10px;
    }
}
@media screen and (max-height:280px) {
    .div-navbar-responsive{
        gap: 0px;
        font-size: 18px;
        top: -25px;
    }
}
@media screen and (min-height:1000px) {
    .div-navbar-responsive{
        gap: 15px;
        font-size: 25px;
    }
}
.navbar1{
    display: none;
}

@media  screen and (max-width:500px) {
    .div-logo p{
        left: 0;
        font-size: 20px;
        margin-left: 10px;
    }
}
@media screen and (max-width:1536px) {
    .btn-font-size{
        font-size: 20px;
        transition: 0.5s;
    }
    .partie-header, .div-navbar{
        flex: 1;
    }
    .partie-salutation p{
        font-size: 25px;
        transition: 0.5s;
    }
    .particles-js-canvas-el{
        position: relative;
        top: -288px;
    }
}

@media screen and (max-width:1200px) {
    .navbar1{
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        flex: 0.2;
    }
    .div-navbar{
        display: none;
    }
    .partie-header{
        padding-bottom: 0px;
        padding-top: 0px;
        transition: 0.5s;
        align-items: baseline;
        justify-content: space-between;
    }
    .timeline li .timeline-badge{
        width: 35px;
        line-height: 35px;
        top: 6px;
        left: 51%;
        transition: 0.5s;
    }
    
    
}

/*tbl*/

#message{
    text-align: center;
    margin-top: 50px;
}
#btn{
    width: 100px;
    margin: auto;
}
    
    .login-box {
        position: relative;
        left: 50%;
        width: 45%;
        padding: 40px;
        transform: translate(-50%, 0%);
        background: rgba(0,0,0,.5);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
        text-align: center;
        transition: 0.5s;
      }
      
      .login-box h2 {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
      }
      
      .login-box .user-box {
        position: relative;
      }
      
      .login-box .user-box input, .login-box .user-box textarea {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      .login-box .user-box label {
        position: absolute;
        top:0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
    
      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label, 
      .login-box .user-box textarea:focus ~ label, 
      .login-box .user-box textarea:valid ~ label {
        top: -20px;
        left: 0;
        color: #03e9f4;
        font-size: 12px;
      }
    /*focus formulaire*/
    
    #name:valid, #email:valid, #objet:valid, #formText:valid{
      color: #03e9f4;
    }
    
    
      /* css btn*/
      .login-box form button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #03e9f4;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px;
        background-color: #00000000;
        border: none;
      }
      
      .login-box button:hover {
        background: #333;
        color: #fff;
        border-radius: 5px;
        /* box-shadow: 0 0 5px #333,
                    0 0 25px #333,
                    0 0 50px #333,
                    0 0 100px #333; */
      }
      
      .login-box button span {
        position: absolute;
        display: block;
      }
      
      .login-box button span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, #03e9f4);
        animation: btn-anim1 1s linear infinite;
      }
      
      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
        50%,100% {
          left: 100%;
        }
      }
      
      .login-box button span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
      }
      
      @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
        50%,100% {
          top: 100%;
        }
      }
      
      .login-box button span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
      }
      
      @keyframes btn-anim3 {
        0% {
          right: -100%;
        }
        50%,100% {
          right: 100%;
        }
      }
      
      .login-box button span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
      }
      
      @keyframes btn-anim4 {
        0% {
          bottom: -100%;
        }
        50%,100% {
          bottom: 100%;
        }
      }
    
/*
responsive experience portfolio
*/

@media screen and (max-width:1100px) {
    .experience-block{
        flex-direction: column;
        align-items: center;
    }
    .experience-block-g{
        margin-bottom: 25px;
    }
    .portfolio-block-haut, .portfolio-block-bas{
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
        transition: 0.3s;
    }
    .portfolio-block-haut-g, .portfolio-block-haut-d, .portfolio-block-bas-g, .portfolio-block-bas-d{
        margin-bottom: 25px;
    }
    .experience-block-g, .experience-block-d{
        width: 80%;
        transition: 0.5s;
    }
}
@media screen and (max-width:1000px){
    #particles-js{
        height: 290px;
        transition: 0.5s;
    }
    .particles-js-canvas-el{
        top: -231px;
    }

    .navbar1{
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        flex: 0.2;
    }
    .div-navbar{
        display: none;
    }
    .div-logo{
        position: initial;
        transition: 0.5s;
    }
    .partie-header{
        padding-bottom: 0px;
        padding-top: 0px;
        transition: 0.5s;
        align-items: baseline;
        justify-content: space-between;
    }
    .div-gris {
        margin-left: auto;
        margin-right: auto;
    }
    .mini-haut, .mini-middle, .mini-bas{
        flex-direction: column;
    }
    .layout, .download, .middle-header, .boxes, .code, .trust{
        transition: 0.5s;
        width: 100%;
    }
    .download, .boxes, .trust{
        margin-top: 25px;
    }
    
    .partie-salutation p{
        font-size: 20px;
        transition: 0.5s;
    }
    .salutation-btn{
        width: 30px;
        height: 42px;
        transition: 0.5s;
    }
    @keyframes myfirst {
        0%  {top:0px;}
        100% {top:30px;}
    }
    /*responsive salutation */
    .partie-salutation{
        padding-top: 0px;
    }
    /*responsive parcours*/
    .timeline-panel{
        margin-right: 25px;
        transition: 0.5s;
    }
    .timeline-panel-container-inverted .timeline-panel{
        margin-left: 20px;
        transition: 0.5s;
    }
    .timeline li .timeline-badge-droite{
        left: 48%;
        transition: 0.5s;
    }
    .timeline li .timeline-badge-gauche{
        left: 54%;
        transition: 0.5s;
    }
    .login-box{
        width: 80%;
    }
}  
@media screen and (max-width:760px) {
    .container{
        width: 70%;
        transition: 0.5s;
    }
    .salutation-text{
        padding-right: 20px;
        padding-left: 20px;
    }
    .presentation-profil{
        flex-direction: column;
    }
    .btn-github{
        margin-bottom: 25px;
    }
    .presentation-div-img img{
        padding-bottom: 10px;
    }
    .presentation-div-text p{
        text-align: center;
    }
}  
@media screen and (max-width:700px) {
    .portfolio-block-haut img, .portfolio-block-bas img{
        width: 290px;
        height: 230px;
        transition: 0.5s;
    }
}  

@media screen and (max-width:400px) {

    .portfolio-block-haut img, .portfolio-block-bas img{
        width: 192px;
        height: 130px;
        transition: 0.5s;
    }
    
    .div-navbar-responsive{
        font-size: 26px;
    }
    .style-titre{
        font-size: 35px;
        transition: 0.5s;
    }
}  
@media screen and (max-width:330px) {
    .partie-salutation p {
        font-size: 15px;
        transition: 0.5s;
    }
}  
@media screen and (max-width:300px) {
    .portfolio-block-haut img, .portfolio-block-bas img{
        width: 190px;
        height: 80px;
        transition: 0.5s;
    }
    .partie-salutation p {
        font-size: 15px;
        transition: 0.5s;
    }
}  

@media screen and (max-width:280px) {
    .portfolio-block-haut img, .portfolio-block-bas img{
        width: 190px;
        height: 70px;
        transition: 0.5s;
    }
    .experience-block-g, .experience-block-d{
        width: 70%;
        transition: 0.5s;
    }
    .timeline-heading h4 {
        font-size: 12px;
    }
    .timeline-heading h3{
        font-size: 15px;
    }
    .div-navbar-responsive{
        gap: 6px;
        font-size: 18px;
    }
}  
@media screen and (min-width:300px) and (max-width:500px) {
    .div-logo p{
        margin-left: 30px;
        transition: 0.5s;
    }
}